* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333333;
}

.bg-dark {
    background-color: #333333;
    color: white;
}

.text-primary {
    color: #92cb52;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2.5rem 0;}
.py-3 {padding: 3.5rem 0;}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2.5rem;}
.p-3 {padding: 3.5rem;}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #f4f4f4 dotted 1px;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.source {
    color: #aaa;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    margin: 3px;
}

.source a {
    color: #aaa;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7ab436;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

p {
    margin: 0.75rem 0;
}

a {
    text-decoration: none;
}

#logo {
    font-size: larger;
    font-weight: bold;
}

#navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#navbar a {
    color: #fff;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover,
.active {
    background: #93cb52;
    border-radius: 5px;
}

#showcase {
    background: #333 url("../img/bg-fullhd.jpg") no-repeat center center/cover;
    height: 100vh;
    color:  #fff;
}

#showcase .showcase-content  {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    background-color: rgba(0,0,0,0.5);
}

#about .items {
    display: flex;
    padding: 1rem;
}

#about .items .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
}

#about .items .item i {
    background-color: #93cb52;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

#project {
    display: flex;
}

#project div {
    flex: 1;
}

#project .project-img {
    background: url("https://source.unsplash.com/random/?team") no-repeat center center/cover;
}

