#what .items {
    display: block;
    padding: 1rem;
}

/* Zarovnání ikon do leva */
#what .items .item {
    display: flex;
    text-align: left;
}
/* Pozice ikon */
#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* Smartphone */
@media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar #logo {
        margin-bottom: 1rem;
        text-align: center;
    }

    #showcase .showcase-content {
        top: 100px;
    }

    #who {
        display: block;
    }

    #who .who-img {
        display:none;
    }

    #books .items img {
        width: 80%;
    }

    #books .items div:last-child {
        display: none;
    }

    #contact {
        flex-direction: column;
    }
}

@media(max-height: 568px) {
    .l-heading {
        font-size: 2rem;
    }

    #navbar {
        align-items: flex-start;
    }

    #navbar ul {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #navbar ul li a{
        padding: 0 1rem;
    }
}