/* Zarovnání ikon do leva */
#what .items .item {
    display: flex;
    text-align: left;
}
/* Pozice ikon */
#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

